@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Estilo personalizado para barras de desplazamiento */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}